<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="mt-4 table-list-user">
        <span class="list-user-name">List Users</span>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% listUsers.forEach((user) => { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>" class="btn btn-primary">Edit</a>
                        <form action="/delete-user/<%= user.id %>" method="POST" style="display: inline-block;">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
    <style>
        .table-list-user {
            padding-left: 48px;
            padding-right: 48px;
            padding-bottom: 100px;
        }

        .list-user-name {
            display: block;
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 12px;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
</body>

</html>